#!/bin/sh

/usr/local/lib/zfs-autobackup/venv/bin/zfs-autobackup \
  --verbose \
{% if zfs_autobackup_job_parameters is defined %}
{% for parameter, value in zfs_autobackup_job_parameters.items() %}
  --{{ parameter }}{% if value %} "{{ value }}"{% endif %} \
{% endfor %}
{% endif %}
{% if zfs_autobackup_pre_snapshot_commands is defined %}
{% for cmd in zfs_autobackup_pre_snapshot_commands %}
  --pre-snapshot-cmd "sudo {{ cmd }}" \
{% endfor %}
{% endif %}
  {{ zfs_autobackup_job_name }} \
  {{ zfs_autobackup_target_dataset }}
